name: CI/Code Formatting
on: [pull_request]
jobs:
  check-code-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.0.2

      - name: Install modules
        run: pnpm i

      - name: Run ESlint
        run: pnpm lint

      - name: Run Prettier
        run: pnpm format
