name: CI/Frontend Tests
on: [pull_request]
jobs:
  test-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install modules
        run: npm i

      - name: Cypress & build
        uses: cypress-io/github-action@v2
        env:
          PORT: 3000
          NEO4J_HOST: ${{ secrets.NEO4J_HOST }}
          NEO4J_PASSWORD: ${{ secrets.NEO4J_PASSWORD }}
          NEO4J_USERNAME: ${{ secrets.NEO4J_USERNAME }}
        with:
          browser: chrome
          headless: true
          build: npm run build --prefix ./src/client
          start: npm run start --prefix ./src/client
          wait-on: "http://localhost:3000"
          project: ./src/client

  send-failure-to-discord:
    runs-on: ubuntu-latest
    needs: [test-frontend]
    if: ${{needs.test-frontend.result == 'failure'}}
    steps:
      - name: Send failure message to Discord
        uses: fjogeleit/http-request-action@v1
        with:
          url: "${{ secrets.DISCORD_WEBHOOK }}"
          method: "POST"
          contentType: "application/json"
          data: |
            {
              "content": "<@&969598441980325888>",
              "allowed_mentions": { "roles": ["969598441980325888"] },
              "username": "GitHub",
              "avatar_url": "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png",
              "embeds": [
                  {
                      "title": "Status - ${{ github.workflow }}",
                      "description": "Failed. See more at the link above.",
                      "color": 16740464,
                      "url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                  }
              ]
            }

  send-success-to-discord:
    runs-on: ubuntu-latest
    needs: [test-frontend]
    if: ${{needs.test-frontend.result == 'success'}}
    steps:
      - name: Send success message to Discord
        uses: fjogeleit/http-request-action@v1
        with:
          url: "${{ secrets.DISCORD_WEBHOOK }}"
          method: "POST"
          contentType: "application/json"
          data: |
            {
              "content": "<@&969598441980325888>",
              "allowed_mentions": { "roles": ["969598441980325888"] },
              "username": "GitHub",
              "avatar_url": "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png",
              "embeds": [
                  {
                      "title": "Status - ${{ github.workflow }}",
                      "description": "Success. See more at the link above.",
                      "color": 7405424,
                      "url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                  }
              ]
            }
